*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  margin: 0;
  background-color: #84DCC6;
  }

body {
  margin: 0 auto;
}

.container {
  background-color: #E8F1F2;
 padding: 0px 20px 10px 20px;
}

h1 {
font-family: 'Lobster Two', cursive;
color: #FFA630;
font-size: 72px;
text-align: center;
}

h2 {
font-family: 'Raleway', sans-serif;
color: #FFA630;
font-size: 38px;
}

h3 {
font-family: 'Raleway', sans-serif;
color: #FFA630;
font-size: 28px;
}

p {
font-family: 'Raleway', sans-serif;
color: #3D4656;
font-size: 18px;
}

#triangles {
width: 100%;
position: absolute;
top: 400px;
}

#work {
position: relative;
left: 200px;
top: 370px;
}


#about {
top: 365px;
left: 538px;
-webkit-transform: rotate(-6deg);
position: relative;
}

#contact {
top: 540px;
left: 695px;
position: relative;
-webkit-transform: rotate(45deg);
}

a:hover {
 color: #E8F1F2;
}

.gallery {
    height: 60%;
    width: 60%;
}


header {
  text-decoration: none;
  color: #FFA630;
}


@media screen and (max width: 1400px) {
  body {
 padding: 0 10% 0 10%;
}

}
