*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  margin: 0;
  background-color: #07BEB8;
  }

h1 {
font-family: 'Lobster Two', cursive;
color: #FFA630;
font-size: 72px;
text-align: center;
}


h3 {
font-family: 'Raleway', sans-serif;
color: #FDFFFC;
font-size: 28px;
}


img {
width: 100%;
position: absolute;
top: 400px;
}

#work {
position: relative;
left: 200px;
top: 370px;
}

#about {
top: 365px;
left: 538px;
-webkit-transform: rotate(-6deg);
position: relative;
}

#contact {
top: 540px;
left: 695px;
position: relative;
-webkit-transform: rotate(45deg);
}
